html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.card{
    margin-top: 1em;
}
.custom-btn {
    background-color: #000;
    color: #fff;
    border-radius: 25px; /* Pas deze waarde aan om de gewenste ovale/rechthoekige vorm te krijgen */
    padding: 10px 20px; /* Pas de padding aan indien nodig */
}

    /* Optioneel: Hef de standaard Bootstrap-stijlen op */
    .custom-btn:hover,
    .custom-btn:focus {
        background-color: #000;
        color: #fff;
        box-shadow: none;
    }
.font-weight-bold {
    font-weight: 500; /* Pas deze waarde aan om de gewenste vetgedrukte stijl te krijgen */
}
.btn:focus,
.btn:active {
    box-shadow: none !important;
}


