
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vastgoed Lijst</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Voeg Fancybox CSS toe -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
    <style>

        .img-container {
            height: 100%; /* Zorg ervoor dat de container 100% van de hoogte inneemt */
        }

            .img-container img {
                height: 100%; /* Zorg ervoor dat de afbeelding 100% van de hoogte van de container inneemt */
                width: auto;
                object-fit: cover;
            }

        .img-fluid {
            width: 100%; /* Make the image fill the container */
            height: auto; /* Keep the aspect ratio */
            object-fit: cover; /* Cover the area without stretching */
        }

        .col-md-5 {
            min-width: 50%; /* Set the width to half of the parent toand '%(ProjectReference.ReferenceOutputAssembly)' == '' fit two images per row */
        }

        .navbar-nav ml-auto{

        }
    </style>
</head>
<body>

    <div class="container mt-5">
        <!-- Fotogalerij -->
        <div id="fotogalerij" class="row">
            <div class="col-md-5">
                <a data-fancybox="gallery" href="~/Images/testhuis.jpg" data-caption="Buitenkant huis1">
                    <img src="~/Images/testhuis.jpg" class="img-fluid" alt="Buitenkant huis1">
                </a>
            </div>
            <div class="col-md-5 ">
                <div class="row">
                    <div class="col-md-6">
                        <a data-fancybox="gallery" href="~/Images/testhuis.jpg" data-caption="Interieur huis2">
                            <img src="~/Images/testhuis.jpg" class="img-fluid" alt="Interieur huis2">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a data-fancybox="gallery" href="~/Images/testhuis.jpg" data-caption="Huis in de avond3">
                            <img src="~/Images/testhuis.jpg" class="img-fluid" alt="Huis in de avond3" >
                        </a>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <a data-fancybox="gallery" href="~/Images/testhuis.jpg" data-caption="Interieur huis4">
                            <img src="~/Images/testhuis.jpg" class="img-fluid" alt="Interieur huis4">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a data-fancybox="gallery" href="~/Images/testhuis.jpg" data-caption="Huis in de avond5">
                            <img src="~/Images/testhuis.jpg" class="img-fluid" alt="Huis in de avond">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a data-fancybox="gallery" href="~/Images/testhuis.jpg" data-caption="Huis in de avond6">

                        </a>
                    </div>
                    <div class="col-md-6">
                        <a data-fancybox="gallery" href="~/Images/testhuis.jpg" data-caption="Huis in de avond7">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Locatie en details -->
        <div class="row mt-4">
            <div class="col-md-8">
                <div id="kaart">
                    <!-- Voeg hier je kaartembed toe -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-box bg-light p-3">
                    <h3>Eindhoven centrum, Nederland</h3>
                    <p><strong>Huur:</strong> €2.3K per maand</p>
                    <p><strong>Slaapkamers:</strong> 3</p>
                    <p><strong>Beschikbaar vanaf:</strong> 01-09-2024</p>
                    <!-- Voeg meer details toe zoals gewenst -->
                </div>
            </div>
        </div>

        <!-- Informatie sectie -->
        <div class="row mt-4">
            <div class="col">
                <div class="info-sectie bg-light p-3">
                    <h4>Informatie</h4>
                    <p>Hier komt een huisadvertentietekst</p>
                    <!-- Voeg meer informatie toe zoals gewenst -->
                </div>
            </div>
        </div>
    </div>

    <!-- Voeg jQuery toe -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Voeg Fancybox JavaScript toe -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script>
        // Activeer Fancybox
        $(document).ready(function () {
            $('[data-fancybox="gallery"]').fancybox();

            // Dynamically set the height of columns to match the container
            var containerHeight = $('.container').outerHeight();
            $('.col-heigth').height(containerHeight);
        });
    </script>
</body>
