@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Account.css" asp-append-version="true" />
<link rel="stylesheet" href="~/_123Huurhuizen.styles.css" asp-append-version="true" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="navbar-brand mr-auto">
                123huurhuizen
            </div>

            <a class="navbar-brand mx-auto" href="#">
                <img src="~/Images/logo.png" style="width: 80px;height:50px" alt="Logo">
            </a>

            <div class="navbar-nav ml-0">

                <a class="btn" asp-action="Login" asp-controller="Account">inloggen </a>
            </div>
            <div class="navbar-nav">
                <span class="navbar-text mx-2">|</span>
            </div>
            <div class="navbar-nav">
                <button class="btn">Aanmaken</button>
            </div>
        </div>
    </nav>
</header>

<div class="container">

    <div class="row justify-content-center"style="margin-top: -1.5em">
        <div class="col-md-6 form-container">
            <form method="post" action="@Url.Action("Create", "Account")">
                <div class="col-md-10 form-container justify-content-center"style="text-align:right">
                    <h5>Maak account aan</h5>
                </div>
                <div class="mb-3" style="margin-top:auto">
                    <label for="mail" class="form-label">Naam</label>
                    <input type="text" class="form-control" id="mail" name="name" required>
                </div>
                <div class="mb-3 position-relative" >
                    <label for="mail" class="form-label">E-mailadres</label>
                    <input type="text" class="form-control" id="mail" name="email" required>
                </div>
                <div class="mb-3 position-relative">
                    <label for="password" class="form-label">Wachtwoord</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                </div>
                <div class="mb-3 position-relative" style="width: 85%">
                    <label for="password1" class="form-label">Herhaal wachtwoord</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="password1" name="repeatedpassword" required>
                        <span class="input-group-text password-toggle-icon" id="togglePassword1">
                            <i class="fas fa-eye-slash"></i>
                        </span>
                    </div>
                </div>
                <div class="mb-3 position-relative">
                    <label for="password" class="form-label">Wat wilt u doen?</label>
                    <div class="row" style="margin-left:1.3em">
                        <div class="col-md-6 mb-3">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="checkbox1" name="checkboxRent" onclick="checkUncheck(this, 'checkbox2')" required>
                                <label class="form-check-label" for="checkbox1">Huren</label>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="checkbox2" name="checkboxForRent" onclick="checkUncheck(this, 'checkbox1')"required>
                                <label class="form-check-label" for="checkbox2">Verhuren</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="extraOptions" class="row" style="margin-left:1.3em;"></div>
                <div class="row justify-content-center">
                    <div class="col-md-6 form-container text-center">
                        <button type="submit" class="btn custom-btn btn-block" >Aanmaken</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<script>
    const togglePassword = document.querySelector('#togglePassword1');
    const password = document.querySelector('#password1');
    togglePassword.addEventListener('click', function (e) {
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        if (type === 'password') {
            this.innerHTML = '<i class="fas fa-eye-slash"></i>';
        } else {
            this.innerHTML = '<i class="fas fa-eye"></i>';
        }
    });
    function checkUncheck(currentCheckbox, otherCheckboxId) {
        var otherCheckbox = document.getElementById(otherCheckboxId);
        if (currentCheckbox.checked) {
            otherCheckbox.checked = false;
            currentCheckbox.value = true;
            otherCheckbox.value = false; // Zet de waarde van het hidden input-veld op "false"
            otherCheckbox.removeAttribute('required'); // Verwijder de 'required' attribuut van het andere checkbox
        } else {
            otherCheckbox.setAttribute('required', ''); // Voeg de 'required' attribuut toe aan het andere checkbox
        }
        var extraOptionsDiv = document.getElementById('extraOptions');
        var body = document.querySelector('body');

        if (currentCheckbox.id === 'checkbox2' && currentCheckbox.checked) {
            body.style.overflow = 'auto';
            extraOptionsDiv.innerHTML = `
                    <div class="col-md-6 mb-3">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="personalRent" name="personalRent" onclick="CheckTypeSeller(this, 'companyRent')" required>
                            <label class="form-check-label" for="personalRent">Particuliere verhuurder</label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="companyRent" name="companyRent" onclick="CheckTypeSeller(this, 'personalRent')" required>
                            <label class="form-check-label" for="companyRent">Zakelijke verhuurder</label>
                        </div>
                    </div>`;
        } else {
            extraOptionsDiv.innerHTML = '';
            window.scrollTo(0, 0);
            body.style.overflow = 'hidden';
        }
    }

    function CheckTypeSeller(currentCheckbox, otherCheckboxId) {
        var otherCheckbox = document.getElementById(otherCheckboxId);
        if (currentCheckbox.checked) {
            otherCheckbox.checked = false;
            currentCheckbox.value = true;
            otherCheckbox.value = false; // Zet de waarde van het hidden input-veld op "false"
            otherCheckbox.removeAttribute('required'); // Verwijder de 'required' attribuut van het andere checkbox
        } else {
            otherCheckbox.setAttribute('required', ''); // Voeg de 'required' attribuut toe aan het andere checkbox
        }
    }
</script>
